@config "./tailwind.config.js";
@import "tailwindcss" prefix(asvntntw);

@theme {
  --container-*: initial;
  --breakpoint-*: initial;
  --color-*: initial;
  --font-*: initial;
  --text-*: initial;
  --tracking-*: initial;
  --leading-*: initial;
  --spacing: 1px;
}

@utility container {
  max-width: 100%;
}

@layer components {
  .asvntntw\:show-grid {
    --grid-column-bg: rgba(0, 0, 0, 0.05);

    @apply asvntntw:relative;

    &::after {
      @apply asvntntw:dev-tools-grid asvntntw:absolute asvntntw:w-full asvntntw:content-[''];
    }
  }

  .asvntntw\:blockquote {
    @apply asvntntw:bg-quote asvntntw:py-20;
  }

  .asvntntw\:blockquote blockquote {
    @apply asvntntw:block asvntntw:px-20 asvntntw:md:px-40;
  }

  .asvntntw\:blockquote blockquote p {
    @apply asvntntw:italic;
  }

  .asvntntw\:blockquote blockquote p:first-child {
    @apply asvntntw:mt-0 asvntntw:relative;
  }

  .asvntntw\:blockquote blockquote p:first-child::before {
    content: open-quote;
    @apply asvntntw:absolute asvntntw:top-0 asvntntw:right-full asvntntw:-left-8;
  }

  .asvntntw\:blockquote blockquote p:last-child::after {
    content: close-quote;
  }

  .asvntntw\:blockquote figcaption {
    @apply asvntntw:block asvntntw:mt-8 asvntntw:px-20 asvntntw:md:px-40;
  }

  .asvntntw\:blockquote cite {
    @apply asvntntw:not-italic;
  }

  .asvntntw\:blockquote cite::before {
    content: '—';
    @apply asvntntw:mr-8;
  }


  .asvntntw\:code-example {
    @apply asvntntw:block asvntntw:bg-code-example;
  }

  .asvntntw\:code-example .asvntntw\:code-example-filename {
    @apply asvntntw:inline-block asvntntw:f-ui asvntntw:text-inverse asvntntw:px-20 asvntntw:py-12 asvntntw:border-b asvntntw:text-code-example-filename asvntntw:border-code-example-filename;
    min-width: 160px;
  }

  .asvntntw\:code-example .asvntntw\:code-example-code {
    @apply asvntntw:block asvntntw:f-code asvntntw:bg-code-example asvntntw:text-code-example asvntntw:bg-code-example;
  }

  .asvntntw\:code-example .asvntntw\:code-example-code code {
    @apply asvntntw:bg-code-example asvntntw:max-h-600 asvntntw:overflow-auto;
    asvntntw:scrollbar-color: var(--grey-54) var(--grey-90);
    asvntntw:scrollbar-width: thin;
  }

  .asvntntw\:code-example .asvntntw\:code-example-code code::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .asvntntw\:code-example .asvntntw\:code-example-code code::-webkit-asvntntw:scrollbar-track {
    background: var(--grey-90);
  }

  .asvntntw\:code-example .asvntntw\:code-example-code code::-webkit-asvntntw:scrollbar-thumb {
    background: var(--grey-54);
    width: 8px;
    height: 8px;
  }


  .asvntntw\:copy h2 {
    @apply asvntntw:f-h2;
  }

  .asvntntw\:copy h2:not(:first-child) {
    @apply asvntntw:mt-56 asvntntw:pt-48 asvntntw:border-t asvntntw:border-secondary;
  }

  .asvntntw\:copy h3 {
    @apply asvntntw:f-h3 asvntntw:mt-40;
  }

  .asvntntw\:copy h4 {
    @apply asvntntw:f-h4 asvntntw:mt-40;
  }

  .asvntntw\:copy p {
    @apply asvntntw:f-body asvntntw:mt-20;
  }

  .asvntntw\:copy p:first-child {
    @apply asvntntw:mt-0;
  }

  .asvntntw\:copy ul {
    @apply asvntntw:f-body asvntntw:mt-20 asvntntw:list-disc asvntntw:pl-16;
  }

  .asvntntw\:copy ul ul {
    @apply asvntntw:mt-0;
  }

  .asvntntw\:copy ol {
    @apply asvntntw:f-body asvntntw:mt-20 asvntntw:list-decimal asvntntw:pl-16;
  }

  .asvntntw\:copy .asvntntw\:code-example {
    @apply asvntntw:mt-20;
  }

  .asvntntw\:copy code:not([class]) {
    @apply asvntntw:f-code asvntntw:text-code asvntntw:bg-code asvntntw:px-8 asvntntw:pt-4 asvntntw:pb-2;
  }

  .asvntntw\:copy pre:not([class]) {
    @apply asvntntw:block asvntntw:mt-20 asvntntw:f-code asvntntw:max-h-400 asvntntw:overflow-y-scroll;
  }

  .asvntntw\:copy pre:not([class]) code:not([class]) {
    @apply asvntntw:block asvntntw:p-8;
  }

  .asvntntw\:copy a {
    @apply asvntntw:text-accent asvntntw:underline;
  }

  .asvntntw\:copy a:hover,
  .asvntntw\:copy a:focus {
    @apply asvntntw:text-primary;
  }

  .asvntntw\:copy hr {
    @apply asvntntw:border-secondary asvntntw:my-40;
  }

  .asvntntw\:copy .asvntntw\:blockquote {
    @apply asvntntw:mt-20;
  }

  @media (min-width: 768px) {
    .asvntntw\:copy > *:not(.asvntntw\:code-example, h2, hr) {
      max-width: 80%;
    }
  }

  @media (min-width: 1024px) {
    .asvntntw\:copy > *:not(.asvntntw\:code-example, h2, hr) {
      max-width: 60%;
    }
  }

  .asvntntw\:copy table {
    @apply asvntntw:mt-20;
  }

  .asvntntw\:copy th,
  .asvntntw\:copy td {
    @apply asvntntw:px-10 asvntntw:pb-4 asvntntw:border-secondary asvntntw:border-l-1;
  }

  .asvntntw\:copy th:first-child,
  .asvntntw\:copy td:first-child {
    @apply asvntntw:ps-0 asvntntw:border-l-0;
  }

  .asvntntw\:copy th:last-child,
  .asvntntw\:copy td:last-child {
    @apply asvntntw:pe-0;
  }
}
